<div class="container">
	<div class="row top">
		<h1>Como Funciona</h1>
		<hr>
		<div class="row">
			<h3 class="col-md-4 col-lg-4 col-sm-4">Escoge tu plan</h3>
			<h3  class="col-md-4 col-lg-4 col-sm-4">Realiza la Transferencia</h3>
			<h3 class="col-md-4 col-lg-4 col-sm-4">Disfruta</h3>
		</div>
		<div class="row">
			<p class="col-md-4 col-lg-4 col-sm-4">Dinos por cuanto tiempo quieres suscribirte 6, 3 o 1 mes.</p>
			<p class="col-md-4 col-lg-4 col-sm-4">Te enviaremos un Correo con la infoemación para realizar el pago</p>					
			<p  class="col-md-4 col-lg-4 col-sm-4">Los día 15 de cada mes llegara tu caja a la puerta de tu casa</p>
		</div>

		<div class="row">
				<div class="col-md-4 col-lg-4 center">
					<img class="" src="http://goo.gl/FhncCM" style="width:200px;" alt="Escoge el tamaño de tu Perro">
				</div>

				<div class="col-md-4 col-lg-4 col-sm-4 center">
					<img class="" src="http://goo.gl/iFcga4" style="width:200px;" alt="Escoge tu Plan">
				</div>	

				<div class="col-md-4 col-lg-4 col-sm-4 center">
					<img class="" src="http://goo.gl/QvD1Zr" style="width:200px;" alt="Disfruta!">	
				</div>
			</div>
		</div>

	</div>
</div>