	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-lg-6">
					<h1 class="text-center">La caja mensual de productos para tu perro
					</h1>
				</div>
			</div>
			<div class="row">
				<div class=" col-md-6 col-sm-6 col-lg-6 cta-col">
					<%= link_to 'Lo Quiero ya', planes_path, :class => ' cta', :role => 'button' %>
					<br>
					<p>Solo 20 cajas</p>
				</div>
			</div>	
		</div>
	</div>

	<div class="container">  <!-- Comienzo Contai-->

		<div class="size block">
			<h2>Los mejores productos</h2>			
			<div class="row">	
				<div class="col-md-6">
					<ul>
						<li><span class="arg">Envío Gratis dentro de Santiago</span></li>
						<li><span class="arg">10% será donado a albergues para animales</span></li>
						<li><span class="arg">Planes desde $9.990 mensual</span></li>
					</ul>
					
				</div>
				<div class="col-md-5 col-md-offset-1">
					<img src="https://barkbox-assets.s3.amazonaws.com/assets/top_header_box-ee41084be52bef6223e2d477fae4e153.png" alt="box">
				</div>
				
				
			</div>
		</div>  <!-- Fin Size-->
		<div class="howWork block">
			<h2>Como Funciona</h2>
			<div class="row">
				<h3 class="col-md-4 col-lg-4 col-sm-4">Escoge tu plan</h3>
				<h3  class="col-md-4 col-lg-4 col-sm-4">Realiza la Transferencia</h3>
				<h3 class="col-md-4 col-lg-4 col-sm-4">Disfruta!</h3>
			</div>
			<div class="row">
				<p class="col-md-4 col-lg-4 col-sm-4">Dinos por cuanto tiempo quieres suscribirte 6, 3 o 1 mes.</p>
				<p class="col-md-4 col-lg-4 col-sm-4">Te enviaremos un Correo con la infoemación para realizar el pago</p>					
				<p  class="col-md-4 col-lg-4 col-sm-4">Los día 15 de cada mes llegara tu caja a la puerta de tu casa</p>
			</div>			

			<div class="row">
				<div class="col-md-4 col-lg-4 center">
					<img class="" src="http://goo.gl/FhncCM" style="width:200px;" alt="Escoge el tamaño de tu Perro">
				</div>

				<div class="col-md-4 col-lg-4 col-sm-4  center">
					<img class="" src="http://goo.gl/iFcga4" style="width:200px;" alt="Escoge tu Plan">
				</div>	

				<div class="col-md-4 col-lg-4 col-sm-4 center">
					<img class="" src="http://goo.gl/QvD1Zr" style="width:200px;" alt="Disfruta!">	
				</div>
			</div>

		</div> <!-- Fin HowWork-->
	</div> <!-- Fin Container-->

			<script type="text/javascript">
	      	document.getElementById('startButton').onclick = function() {
	        introJs().start().oncomplete(function() {
	          window.location.href = 'sku1?multipage1=true';
	        });
	      };
	    </script>

<!--
	<div class="full">
		<div class="container">
			<div class="ctaBottom block">
				<div class="row">
					<h2>Comienza Ya!</h2>
					<div class="col-md-6 col-md-offset-4 btn">
						<%= link_to 'Lo Quiero ya', suscribete_path, :class => 'cta' %>
					</div>
				</div>
			-->
			<!-- </div>Fin ctaBottom-->
			<!-- </div>Fin Container-->
			<!-- </div>Fin Full-->

