	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1 class="text-center">La caja mensual de productos para tu perro</h1>
				</div>
				<div class="col-md-4 col-md-offset-2">
						

						<%= link_to 'Lo Quiero ya', suscribete_path, :class => 'btn btn-primary btn-lg btn-block' %>
						<%= link_to 'Paga regalar', suscribete_path, :class => 'btn btn-info btn-lg btn-block' %>			
				</div>
			</div>
		</div>
	</div>

	<div class="container">  <!-- Comienzo Contai-->

		<div class="size box">
			<h2>Personalizada para tu Perro</h2>			
			<div class="row">
				
				
			</div>
		</div>  <!-- Fin Size-->

		<div class="good box">
			<h2>Productos</h2>	
			<div class="row">
			
			</div>
		</div> <!-- Fin Good-->

		<div class="howWork box">
			<h2>Como Funciona</h2>
			<div class="row">
				<h3 class="col-md-4">Escoge el tamaño de tu perro</h3>
				<h3  class="col-md-4">Escoge tu plan</h3>
				<h3 class="col-md-4">Disfruta DogBox</h3>
			</div>

			<div class="row">
				<img class="img-responsive col-md-4" src="https://barkbox-assets.s3.amazonaws.com/assets/choose1-c7f48a010ff833610dcb8f50497defb1.png" alt="Escoge el tamaño de tu Perro">
				<img class="img-responsive col-md-4" src="https://barkbox-assets.s3.amazonaws.com/assets/choose2-5372329485ef81a8fb06b45aa7bc8b4b.png" alt="Escoge tu Plan">	
				<img class="img-responsive col-md-4" src="https://barkbox-assets.s3.amazonaws.com/assets/choose3-f73273b339a288a8860208ff41d2257f.png" alt="Disfruta!">	
			</div>

			<div class="row">
				<p class="col-md-4">Tell us how big your dog's bark is. We've got goodies for every dog size.</p>
				<p class="col-md-4">Monthly, 3-month or 6-month plans available. Cancel anytime. Free shipping.</p>					
				<p  class="col-md-4">BarkBoxes are shipped on the 15th of each month. Get excited!</p>
			</div>			
		</div> <!-- Fin HowWork-->


		<div class="ctaBottom boxx">
				<h2>Comienza Ya!</h2>
				<div class="row">
					<div class="col-md-6 col-md-offset-4 btn">
						

						<%= link_to 'Lo Quiero ya', suscribete_path, :class => 'btn btn-primary' %>
						<%= link_to 'Paga regalar', suscribete_path, :class => 'btn btn-info' %>
				
					
					</div>
				</div>
		</div> <!-- Fin ctaBottom-->
	</div> <!-- Last Container-->

