<div class="container">
	<div class="row">
		Tamaño >> Planes >> Checkout
		<br>
		Planes Perro Grande
		<hr>

		<%= link_to (root_path), :class => 'col-md-4 box1' do %>		
			<img src="https://barkbox-assets.s3.amazonaws.com/assets/plan-duration-1month-7f98e6dd31a004c3e69f327d12b87da4.png" alt="Perro Pequeño">
			<p>Perro Pequeño o Cachorro</p>	
		<% end %>
		<%= link_to (root_path), :class => 'col-md-4 box2' do %>		
			<img src="https://barkbox-assets.s3.amazonaws.com/assets/plan-duration-3months-98e7fd960b8253b35b7c3767db526752.png" alt="Perro Mediano">
			<p>Perro Mediano</p>
		<% end %>
		<%= link_to (root_path), :class => 'col-md-4 box3' do %>		
			<img src="https://barkbox-assets.s3.amazonaws.com/assets/plan-duration-6months-7c3dce80dfa219cb0546fb38ee00f1af.png" alt="Perro Grande">
			<p>Perro Grande</p>
		<% end %>
	</div>
</div>