<div class="container">
	<div class="row step">
		<div class="navLead text-center">
			<p class="lead text-check ">
				
			</span>Planes</p>

			<span class="glyphicon glyphicon-play text-check"></span>
			
			<p class="lead">Registro</p>
			
		</div>

		
		<h4>Escoge el plan para tu perro</h4><br>	

		<%= link_to (sku1_path), :class => 'col-md-4 col-sm-4 col-lg-4 box box1' do %>
			<img src="https://barkbox-assets.s3.amazonaws.com/assets/plan-duration-1month-7f98e6dd31a004c3e69f327d12b87da4.png" class="plan1" alt="Perro Pequeño">
			<p>$ 14.990 Mensual</p>
			<p>Plan por 1 mes</p>
			<h6><small></small></h6>
		<% end %>

		<%= link_to (sku2_path), :class => 'col-md-4 col-sm-4 col-lg-4 box box2' do %>	
			<img src="https://barkbox-assets.s3.amazonaws.com/assets/plan-duration-3months-98e7fd960b8253b35b7c3767db526752.png" class="plan2" alt="Perro Mediano">
			<p>$ 11.990 Mensual</p>
			<p>Plan por 3 mes</p>
			<h4><small>Ahorra un 20%</small></h4>
		<% end %>
		
		<%= link_to (sku3_path), :class => 'col-md-4 col-sm-4 col-lg-4 box box3' do %>		
			<img src="https://barkbox-assets.s3.amazonaws.com/assets/plan-duration-6months-7c3dce80dfa219cb0546fb38ee00f1af.png" class="plan3" alt="Perro Grande">
			<p>$ 9.990 Mensual</p>
			<p>Plan por 6 mes</p>
			<h4><small>Ahorra un 33%</small></h4>
		<% end %>
	</div>
</div>