<div class="container">
	<div class="row top">
		<h1>Preguntas Frecuentes</h1>
		<hr>
		<div class="row">
			<div class="col-md-6 col-lg-6 col-sm-6">
				<div class="question top">
					<h3>¿Puedo terminar mi plan´?</h3>
					<p>Sí, puedes terminar tu plan cuando quieras y te devolveremos el dinero de los meses restantes vía transferencia electronica, las cancelar de suscripción debes hacerla antes del día 10.</p>
				</div>
				<div class="question top">
					<h3>¿Dónde llegan mis productos?</h3>
					<p>Tu desides donde quieres que lleguen tus productos, puede ser a tu casa, trabajo o donde prefieras</p>
				</div>
				
			</div>
			<div  class="col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 col-sm-4">
				<img src="https://barkbox-assets.s3.amazonaws.com/assets/top_header_box-ee41084be52bef6223e2d477fae4e153.png" alt="Club Tupet Box">
			</div>
		</div>
</div>
</div>