<div class="container">
	<div class="row step">
<div class="navLead text-center">
		<p class="lead text-check ">
		
		</span> Tamaño</p>

		<span class="glyphicon glyphicon-play text-check"></span>
		
		<p class="lead text-check">Planes</p>
		
		<span class="glyphicon glyphicon-play text-check"></span>
		
		<p class="lead">Pago</p>
		<hr>
</div>	
		<div class="well">
			<h1>Felicitaciones compraste la Suscripción de 3 mes para perro pequeño</h1>
		</div>
	</div>
</div>
