<div class="container">
	<div class="row step">
		<div class="navLead text-center">
			<p class="lead text-check ">
				
			</span>Planes</p>

			<span class="glyphicon glyphicon-play text-check"></span>
			
			<p class="lead text-check">Registro</p>
			<hr>
		</div>	
			
		<div class="thumbnail col-md-4 col-lg-4 col-sm-4">
			<div><img src="http://goo.gl/SBK0G4" alt="" class="img-responsive"></div>
		<div class="checkout">
			<h3><strong>6 Mesees: $59.400</strong></h3>
			<h5>$9.990 Mensual</h5>
		</div>
		</div>	
		<div class="thumbnail col-md-6 col-lg-6 col-sm-6 col-md-offset-1 col-lg-offset-1 col-sm-offset-1">
			<div id="wufoo-q16k1l971bfjlop">
				Fill out my <a href="https://clubtupet.wufoo.com/forms/q16k1l971bfjlop">online form</a>.
			</div>
			<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>
			<script type="text/javascript">var q16k1l971bfjlop;(function(d, t) {
				var s = d.createElement(t), options = {
					'userName':'clubtupet', 
					'formHash':'q16k1l971bfjlop', 
					'autoResize':true,
					'height':'547',
					'async':true,
					'host':'wufoo.com',
					'header':'show', 
					'ssl':true};
					s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
					s.onload = s.onreadystatechange = function() {
						var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
						try { q16k1l971bfjlop = new WufooForm();q16k1l971bfjlop.initialize(options);q16k1l971bfjlop.display(); } catch (e) {}};
						var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
					})(document, 'script');
			</script>
		</div>
	</div>
</div>